<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SuspectVehicleQueryMapper">

    <select id="selectSuspectVehicleList"
            resultType="com.ruoyi.system.domain.ToVehicleRealTimMonitoring">
        SELECT
        id,
        camera_id,
        camera_name,
        lane_no,
        direction,
        speed,
        plate,
        plate_type,
        plate_color,
        vehicle_color,
        vehicle_type,
        vehicle_logo,
        vehicle_logo_all,
        capture_time,
        pic_url,
        plate_license,
        file_no,
        start_offset,
        src_json,
        level
        FROM to_vehicle_real_tim_monitoring
        <where>
            <if test="query.plate != null and query.plate != ''">
                AND plate LIKE CONCAT('%', #{query.plate}, '%')
            </if>
            <if test="query.plateType != null and query.plateType != ''">
                AND plate_type = #{query.plateType}
            </if>
            <if test="query.plateColor != null and query.plateColor != ''">
                AND plate_color = #{query.plateColor}
            </if>
            <if test="query.vehicleType != null and query.vehicleType != ''">
                AND vehicle_type = #{query.vehicleType}
            </if>
            <if test="query.vehicleColor != null and query.vehicleColor != ''">
                AND vehicle_color = #{query.vehicleColor}
            </if>
            <if test="query.startTime != null">
                AND capture_time >= #{query.startTime}
            </if>
            <if test="query.endTime != null">
                AND capture_time &lt;= #{query.endTime}
            </if>
        </where>
        ORDER BY capture_time DESC
    </select>

</mapper>