<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TobClockLogMapper">
    
    <resultMap type="TobClockLog" id="TobClockLogResult">
        <result property="commutingId"    column="commuting_id"    />
        <result property="staffId"    column="staff_id"    />
        <result property="dutyDate"    column="duty_date"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="dutyType"    column="duty_type"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="flag"    column="flag"    />
        <result property="detectionId" column="detection_id"/>
        <result property="districtId" column="district_id"/>
    </resultMap>

    <sql id="selectTobClockLogVo">
        select commuting_id, staff_id, duty_date, start_time, end_time, duty_type, del_flag, remark, create_time, update_time, flag,detection_id,district_id from tob_clock_log
    </sql>

    <select id="selectTobClockLogList" parameterType="TobClockLog" resultMap="TobClockLogResult">
        <include refid="selectTobClockLogVo"/>
        <where>  
            <if test="staffId != null "> and staff_id = #{staffId}</if>
            <if test="dutyDate != null "> and duty_date = #{dutyDate}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="dutyType != null  and dutyType != ''"> and duty_type = #{dutyType}</if>
            <if test="flag != null  and flag != ''"> and flag = #{flag}</if>
            <if test="detectionId != null "> and detection_id = #{detectionId}</if>
            <if test="districtId != null "> and district_id = #{districtId}</if>
        </where>
    </select>
    
    <select id="selectTobClockLogByCommutingId" parameterType="Long" resultMap="TobClockLogResult">
        <include refid="selectTobClockLogVo"/>
        where commuting_id = #{commutingId}
    </select>

    <insert id="insertTobClockLog" parameterType="TobClockLog" useGeneratedKeys="true" keyProperty="commutingId">
        insert into tob_clock_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="staffId != null">staff_id,</if>
            <if test="dutyDate != null">duty_date,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="dutyType != null and dutyType != ''">duty_type,</if>
            <if test="detectionId != null "> detection_id </if>
            <if test="districtId != null "> district_id </if>
            del_flag,
            <if test="remark != null">remark,</if>
            create_time,
            update_time,
            <if test="delFlag != null and delFlag != ''">flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="staffId != null">#{staffId},</if>
            <if test="dutyDate != null">#{dutyDate},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="dutyType != null and dutyType != ''">#{dutyType},</if>
            <if test="detectionId != null "> #{detectionId}</if>
            <if test="districtId != null "> #{districtId}</if>
            0,
            <if test="remark != null">#{remark},</if>
            sysdate(),
            sysdate(),
            <if test="flag != null and flag != ''">#{flag},</if>
         </trim>
    </insert>

    <update id="updateTobClockLog" parameterType="TobClockLog">
        update tob_clock_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="staffId != null">staff_id = #{staffId},</if>
            <if test="dutyDate != null">duty_date = #{dutyDate},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="dutyType != null and dutyType != ''">duty_type = #{dutyType},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="detectionId != null "> detection_id = #{detectionId}</if>
            <if test="districtId != null ">district_id = #{districtId}</if>
            update_time = sysdate(),
            <if test="flag != null and flag != ''">flag = #{flag},</if>
        </trim>
        where commuting_id = #{commutingId}
    </update>

    <delete id="deleteTobClockLogByCommutingId" parameterType="Long">
        update tob_clock_log set del_flag = '1' where commuting_id = #{commutingId}
    </delete>

    <delete id="deleteTobClockLogByCommutingIds" parameterType="String">
        delete from tob_clock_log where commuting_id in 
        <foreach item="commutingId" collection="array" open="(" separator="," close=")">
            #{commutingId}
        </foreach>
    </delete>
</mapper>