<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TobCameraMapper">

    <resultMap type="TobCamera" id="TobCameraResult">
        <result property="cameraId" column="camera_id"/>
        <result property="trafficCameraId" column="traffic_camera_id"/>
        <result property="cameraName" column="camera_name"/>
        <result property="cameraIp" column="camera_ip"/>
        <result property="cameraModel" column="camera_model"/>
        <result property="cameraManufacturer" column="camera_manufacturer"/>
        <result property="detectionId" column="detection_id"/>
        <result property="resolutionRatio" column="resolution_ratio"/>
        <result property="frameRate" column="frame_rate"/>
        <result property="nightVision" column="night_vision"/>
        <result property="connectionType" column="connection_type"/>
        <result property="installationDate" column="installation_date"/>
        <result property="guaranteePeriod" column="guarantee_period"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="cameraType" column="camera_type"/>
        <result property="cameraGroupIndication" column="camera_group_indication"/>
        <result property="cameraApplicationType" column="camera_application_type"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="districtId" column="district_id"/>
        <result property="cameraUrl" column="camera_url"/>
    </resultMap>

    <sql id="selectTobCameraVo">
        select camera_id,
               traffic_camera_id,
               camera_name,
               camera_ip,
               camera_model,
               camera_manufacturer,
               detection_id,
               resolution_ratio,
               frame_rate,
               night_vision,
               connection_type,
               installation_date,
               guarantee_period,
               longitude,
               latitude,
               camera_type,
               camera_group_indication,
               camera_application_type,
               status,
               del_flag,
               remark,
               create_time,
               update_time,
               district_id,
               camera_url
        from tob_camera
    </sql>

    <select id="selectTobCameraList" parameterType="TobCamera" resultMap="TobCameraResult">
        <include refid="selectTobCameraVo"/>
        <where>
            <if test="trafficCameraId != null">and traffic_camera_id = #{trafficCameraId}</if>
            <if test="cameraName != null  and cameraName != ''">and camera_Name = #{cameraName}</if>
            <if test="cameraIp != null  and cameraIp != ''">and camera_ip = #{cameraIp}</if>
            <if test="cameraModel != null  and cameraModel != ''">and camera_model = #{cameraModel}</if>
            <if test="cameraManufacturer != null  and cameraManufacturer != ''">and camera_manufacturer = #{cameraManufacturer}</if>
            <if test="detectionId != null ">and detection_id = #{detectionId}</if>
            <if test="resolutionRatio != null  and resolutionRatio != ''">and resolution_ratio = #{resolutionRatio}</if>
            <if test="frameRate != null ">and frame_rate = #{frameRate}</if>
            <if test="nightVision != null  and nightVision != ''">and night_vision = #{nightVision}</if>
            <if test="connectionType != null  and connectionType != ''">and connection_type = #{connectionType}</if>
            <if test="installationDate != null ">and installation_date = #{installationDate}</if>
            <if test="guaranteePeriod != null ">and guarantee_period = #{guaranteePeriod}</if>
            <if test="longitude != null ">and longitude = #{longitude}</if>
            <if test="latitude != null ">and latitude = #{latitude}</if>
            <if test="cameraType != null  and cameraType != ''">and camera_type = #{cameraType}</if>
            <if test="cameraGroupIndication != null ">and camera_group_indication = #{cameraGroupIndication}</if>
            <if test="cameraApplicationType != null  and cameraApplicationType != ''">and camera_application_type = #{cameraApplicationType}</if>
            and del_flag = '0'
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="districtId != null ">and district_id = #{districtId}</if>
        </where>
    </select>

    <select id="selectTobCameraListByDistrictId" resultMap="TobCameraResult">
        <include refid="selectTobCameraVo"/>
        <where>
            <choose>
                <when test="districtId != null and districtId != ''">
                    district_id IN (
                    SELECT DISTINCT district_id
                    FROM tob_district
                    WHERE CONCAT(ancestors, ',', district_id) LIKE CONCAT('%,', #{districtId}, ',%')
                    OR district_id = #{districtId}
                    )
                </when>
                <otherwise>
                </otherwise>
            </choose>
            <if test="trafficCameraId != null">and traffic_camera_id = #{trafficCameraId}</if>
            <if test="cameraName != null  and cameraName != ''">and camera_Name = #{cameraName}</if>
            <if test="cameraIp != null and cameraIp != ''">and camera_ip = #{cameraIp}</if>
            <if test="cameraModel != null and cameraModel != ''">and camera_model LIKE CONCAT('%', #{cameraModel}, '%')</if>
            <if test="cameraManufacturer != null and cameraManufacturer != ''">and camera_manufacturer LIKE CONCAT('%', #{cameraManufacturer}, '%')</if>
            <if test="detectionId != null">and detection_id = #{detectionId}</if>
            <if test="cameraType != null and cameraType != ''">and camera_type = #{cameraType}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            and del_flag = '0'
        </where>
    </select>

    <select id="selectTobCameraByCameraId" parameterType="Long" resultMap="TobCameraResult">
        <include refid="selectTobCameraVo"/>
        where camera_id = #{cameraId} and del_flag = '0'
    </select>

    <insert id="insertTobCamera" parameterType="TobCamera" useGeneratedKeys="true" keyProperty="cameraId">
        insert into tob_camera
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="trafficCameraId != null">traffic_camera_id,</if>
            <if test="cameraName != null and cameraName != ''">camera_name,</if>
            <if test="cameraIp != null and cameraIp != ''">camera_ip,</if>
            <if test="cameraModel != null and cameraModel != ''">camera_model,</if>
            <if test="cameraManufacturer != null and cameraManufacturer != ''">camera_manufacturer,</if>
            <if test="detectionId != null">detection_id,</if>
            <if test="resolutionRatio != null and resolutionRatio != ''">resolution_ratio,</if>
            <if test="frameRate != null">frame_rate,</if>
            <if test="nightVision != null and nightVision != ''">night_vision,</if>
            <if test="connectionType != null and connectionType != ''">connection_type,</if>
            <if test="installationDate != null">installation_date,</if>
            <if test="guaranteePeriod != null">guarantee_period,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="cameraType != null and cameraType != ''">camera_type,</if>
            <if test="cameraGroupIndication != null">camera_group_indication,</if>
            <if test="cameraApplicationType != null and cameraApplicationType != ''">camera_application_type,</if>
            <if test="status != null and status != ''">status,</if>
            del_flag,
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            update_time,
            <if test="districtId != null">district_id,</if>
            <if test="cameraUrl != null">camera_url,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="trafficCameraId != null">#{trafficCameraId},</if>
            <if test="cameraName != null and cameraName != ''">#{cameraName},</if>
            <if test="cameraIp != null and cameraIp != ''">#{cameraIp},</if>
            <if test="cameraModel != null and cameraModel != ''">#{cameraModel},</if>
            <if test="cameraManufacturer != null and cameraManufacturer != ''">#{cameraManufacturer},</if>
            <if test="detectionId != null">#{detectionId},</if>
            <if test="resolutionRatio != null and resolutionRatio != ''">#{resolutionRatio},</if>
            <if test="frameRate != null">#{frameRate},</if>
            <if test="nightVision != null and nightVision != ''">#{nightVision},</if>
            <if test="connectionType != null and connectionType != ''">#{connectionType},</if>
            <if test="installationDate != null">#{installationDate},</if>
            <if test="guaranteePeriod != null">#{guaranteePeriod},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="cameraType != null and cameraType != ''">#{cameraType},</if>
            <if test="cameraGroupIndication != null">#{cameraGroupIndication},</if>
            <if test="cameraApplicationType != null and cameraApplicationType != ''">#{cameraApplicationType},</if>
            <if test="status != null and status != ''">#{status},</if>
            0,
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            sysdate(),
            <if test="districtId != null">#{districtId},</if>
            <if test="cameraUrl != null">#{cameraUrl},</if>
        </trim>
    </insert>

    <update id="updateTobCamera" parameterType="TobCamera">
        update tob_camera
        <trim prefix="SET" suffixOverrides=",">
            <if test="trafficCameraId != null">traffic_camera_id = #{trafficCameraId},</if>
            <if test="cameraName != null and cameraName != ''">camera_name = #{cameraName},</if>
            <if test="cameraIp != null and cameraIp != ''">camera_ip = #{cameraIp},</if>
            <if test="cameraModel != null and cameraModel != ''">camera_model = #{cameraModel},</if>
            <if test="cameraManufacturer != null and cameraManufacturer != ''">camera_manufacturer = #{cameraManufacturer},</if>
            <if test="detectionId != null">detection_id = #{detectionId},</if>
            <if test="resolutionRatio != null and resolutionRatio != ''">resolution_ratio = #{resolutionRatio},</if>
            <if test="frameRate != null">frame_rate = #{frameRate},</if>
            <if test="nightVision != null and nightVision != ''">night_vision = #{nightVision},</if>
            <if test="connectionType != null and connectionType != ''">connection_type = #{connectionType},</if>
            <if test="installationDate != null">installation_date = #{installationDate},</if>
            <if test="guaranteePeriod != null">guarantee_period = #{guaranteePeriod},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="cameraType != null and cameraType != ''">camera_type = #{cameraType},</if>
            <if test="cameraGroupIndication != null">camera_group_indication = #{cameraGroupIndication},</if>
            <if test="cameraApplicationType != null and cameraApplicationType != ''">camera_application_type = #{cameraApplicationType},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="districtId != null">district_id = #{districtId},</if>
            <if test="cameraUrl != null">camera_url = #{cameraUrl},</if>
        </trim>
        where camera_id = #{cameraId}
    </update>

    <delete id="deleteTobCameraByCameraId" parameterType="Long">
        update tob_camera set del_flag = '1' where camera_id = #{cameraId}
    </delete>

    <delete id="deleteTobCameraByCameraIds" parameterType="String">
        update tob_camera set del_flag = '1' where camera_id in
        <foreach collection="array" item="cameraId" open="(" separator="," close=")">
            #{cameraId}
        </foreach>
    </delete>
</mapper>