<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TobDetectionMapper">
    
    <resultMap type="TobDetection" id="TobDetectionResult">
        <result property="detectionId"    column="detection_id"    />
        <result property="districtId"    column="district_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="districtName"    column="district_name"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="responsibleId"    column="responsible_id"    />
    </resultMap>

    <sql id="selectTobDetectionVo">
        select detection_id, district_id, order_num, district_name, status, del_flag, remark, create_time, update_time, responsible_id from tob_detection
    </sql>

    <select id="selectTobDetectionList" parameterType="TobDetection" resultMap="TobDetectionResult">
        <include refid="selectTobDetectionVo"/>
        <where>  
            <if test="districtId != null "> and district_id = #{districtId}</if>
            <if test="orderNum != null  and orderNum != ''"> and order_num = #{orderNum}</if>
            <if test="districtName != null  and districtName != ''"> and district_name like concat('%', #{districtName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTobDetectionByDetectionId" parameterType="Long" resultMap="TobDetectionResult">
        <include refid="selectTobDetectionVo"/>
        where detection_id = #{detectionId}
    </select>

    <insert id="insertTobDetection" parameterType="TobDetection" useGeneratedKeys="true" keyProperty="detectionId">
        insert into tob_detection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="districtId != null">district_id,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="districtName != null and districtName != ''">district_name,</if>
            <if test="status != null">status,</if>
            del_flag,
            <if test="remark != null">remark,</if>
            create_time,
            update_time,
            <if test="responsibleId != null">responsible_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="districtId != null">#{districtId},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="districtName != null and districtName != ''">#{districtName},</if>
            <if test="status != null">#{status},</if>
            0,
            <if test="remark != null">#{remark},</if>
            sysdate(),
            sysdate(),
            <if test="responsibleId != null">#{responsibleId},</if>
         </trim>
    </insert>

    <update id="updateTobDetection" parameterType="TobDetection">
        update tob_detection
        <trim prefix="SET" suffixOverrides=",">
            <if test="districtId != null">district_id = #{districtId},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="districtName != null and districtName != ''">district_name = #{districtName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate(),
            <if test="responsibleId != null">responsible_id = #{responsibleId},</if>
        </trim>
        where detection_id = #{detectionId}
    </update>

    <delete id="deleteTobDetectionByDetectionId" parameterType="Long">
        update tob_detection set del_flag = '1' where detection_id = #{detectionId}
    </delete>

    <delete id="deleteTobDetectionByDetectionIds" parameterType="String">
        delete from tob_detection where detection_id in 
        <foreach item="detectionId" collection="array" open="(" separator="," close=")">
            #{detectionId}
        </foreach>
    </delete>
</mapper>