<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TobSuspicionLevelMapper">

    <resultMap type="TobSuspicionLevel" id="TobSuspicionLevelResult">
        <result property="id" column="id"/>
        <result property="level" column="level"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSuspicionLevelVo">
        SELECT id, level, update_time
        FROM tob_suspicion_level
        WHERE id = 1
    </sql>

    <select id="selectSuspicionLevel" resultMap="TobSuspicionLevelResult">
        <include refid="selectSuspicionLevelVo"/>
    </select>

    <update id="updateSuspicionLevel" parameterType="Double">
        UPDATE tob_suspicion_level
        SET level = #{level}, update_time = sysdate()
        WHERE id = 1
    </update>

    <insert id="insertSuspicionLevel" parameterType="Double">
        INSERT INTO tob_suspicion_level(id, level, update_time)
        VALUES(1, #{level}, sysdate())
        ON DUPLICATE KEY UPDATE
        level = #{level},
        update_time = sysdate()
    </insert>
</mapper>