<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.ToVehicleRealTimMonitoringMapper">

    <!--    <resultMap id="ToVehicleResult" type="com.ruoyi.system.domain.ToVehicleRealTimMonitoring">-->
    <!--        <id column="id" property="id"/>-->
    <!--        <result column="plate_number" property="plateNumber"/>-->
    <!--        <result column="plate_color" property="plateColor"/>-->
    <!--        <result column="plate_type" property="plateType"/>-->
    <!--        <result column="car_color" property="vehicleColor"/>-->
    <!--        <result column="vehicle_type" property="vehicleType"/>-->
    <!--        <result column="brand" property="brand"/>-->
    <!--        <result column="direction" property="direction"/>-->
    <!--        <result column="channel_id" property="channelId"/>-->
    <!--        <result column="authorization_type" property="authorizationType"/>-->
    <!--        <result column="capture_time" property="captureTime"/>-->
    <!--        <result column="speed" property="speed"/>-->
    <!--        <result column="lane_number" property="laneNo"/>-->
    <!--        <result column="data_type" property="dataType"/>-->
    <!--        <result column="violation_type" property="violationType"/>-->
    <!--        <result column="driver_seatbelt" property="driverSeatbelt"/>-->
    <!--        <result column="passenger_seatbelt" property="passengerSeatbelt"/>-->
    <!--        <result column="driver_sunglass" property="driverSunglass"/>-->
    <!--        <result column="passenger_sunglass" property="passengerSunglass"/>-->
    <!--        <result column="phone_call" property="phoneCall"/>-->
    <!--        <result column="sunroof_person" property="sunroofPerson"/>-->
    <!--        <result column="yellow_label_car" property="yellowLabelCar"/>-->
    <!--        <result column="hazardous_materials" property="hazardousMaterials"/>-->
    <!--        <result column="pendant" property="pendant"/>-->
    <!--        <result column="axle_count" property="axleCount"/>-->
    <!--        <result column="axle_type" property="axleType"/>-->
    <!--        <result column="detailed_model" property="detailedModel"/>-->
    <!--        <result column="video_url" property="videoUrl"/>-->
    <!--        <result column="plate_image_url" property="plateLicense"/>-->
    <!--        <result column="image_url" property="picUrl"/>-->
    <!--    </resultMap>-->
    <resultMap id="ToVehicleResult" type="com.ruoyi.system.domain.ToVehicleRealTimMonitoring">
        <id property="id" column="Id"/>
        <result property="cameraId" column="CameraId"/>
        <result property="cameraName" column="CameraName"/>
        <result property="laneNo" column="LaneNo"/>
        <result property="direction" column="Direction"/>
        <result property="speed" column="Speed"/>
        <result property="plate" column="Plate"/>
        <result property="plateType" column="PlateType"/>
        <result property="plateColor" column="PlateColor"/>
        <result property="vehicleColor" column="VehicleColor"/>
        <result property="vehicleType" column="VehicleType"/>
        <result property="vehicleLogo" column="VehicleLogo"/>
        <result property="vehicleLogoAll" column="VehicleLogoAll"/>
        <result property="captureTime" column="CaptureTime"/>
        <result property="picUrl" column="PicUrl"/>
        <result property="plateLicense" column="PlateLicense"/>
        <result property="fileNo" column="FileNo"/>
        <result property="startOffset" column="StartOffset"/>
        <result property="srcJson" column="SrcJson"/>
        <result property="level" column="Level"/>
    </resultMap>
    <select id="selectById" parameterType="Long" resultType="com.ruoyi.system.domain.ToVehicleRealTimMonitoring">
        SELECT *
        FROM trafficdata
        WHERE Id = #{id}
    </select>

    <select id="selectAll" resultType="com.ruoyi.system.domain.ToVehicleRealTimMonitoring">
        SELECT *
        FROM trafficdata
        ORDER BY Id ASC
    </select>

    <select id="selectNext" parameterType="map" resultType="com.ruoyi.system.domain.ToVehicleRealTimMonitoring">
        SELECT *
        FROM trafficdata
        WHERE Id > #{lastId}
        ORDER BY Id ASC
        LIMIT 1
    </select>
    <select id="selectAfterId" resultType="com.ruoyi.system.domain.ToVehicleRealTimMonitoring">
        SELECT * FROM trafficdata
        WHERE id > #{lastId}
        ORDER BY id ASC
        LIMIT #{limit}
    </select>

    <update id="updateLevel">
        UPDATE trafficdata
        SET level = #{level}
        WHERE id = #{id}
    </update>
</mapper>
